/*Titulos*/
h1 {
  font-style: none;
  font-family: "quicksand" sans-serif;
}
/*Seguinos*/
#seguinos {
  border-top: 1px solid #dddddb;
}
/*MAPA*/
#googlemap {
}

/*form*/
#contact {
  flex-wrap: nowrap;
  border-top: 1px solid #dddddb;
}
.btn-primary {
  margin-top: 20px;
  background-color: black;
}
/*MOBILE <520PX*/

@media(max-width:520px){

  h1 {
    font-size: 1em;
  }
  .redes {
    width: 30%;
  }

}