
/*Un poco de nosotras*/
.texto {
  padding: 2em;
  margin-top: 30px;
  margin-left: 15%;
  margin-right: 15%;
}
/*MOBILE-SETTINGS*/
@media(max-width:520px) {
  h1 {
    font-size: 2em;
  }
  .texto {
    font-size: 0.8em;
    margin: auto;
  }
  .quote {
    margin:2em;
    font-size: 0.8em;
  }
}