
/*BANNER*/
#salebanner {
  width: 100%;
  margin-bottom: 30px;
}
/*MODAL*/

/*Looks*/

#nuevo {
  transform: scale(1);
}

.pic:hover {
  transform: scale(1.2);
}
*/
/*VIDEO*/
#video {
  display: block;
  margin-top: 50px; }

/*marcas*/
#marcas {
  padding: 40px;
  border-top: black;
  margin-top: 20px;
  opacity: 0.5;
}


