
/*Galeria de fotos*/
.ovl {
	opacity: 0;
	transition: 1s;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	}
  .ovl:hover {
	opacity: 1;
	background-color: rgb(255,255,255,0.5);
  }
  .text ul {
	  list-style: none;
  }

/*marcas*/

#marcas {
  padding: 40px;
  margin-top: 30px;
  opacity: 0.5;
}

/* Mobile <520px */

@media(max-width:520px) {
	h1 {
		font-size: 1em;
	}
	.text ul {
		font-size: 0.5em;
		padding: 0;
	}
	#marcas {
		margin-top: 1em;
	}
}